<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Company</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy Policy</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Guide</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Partnership</a></li>
    </ul>
    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam soluta voluptatum doloremque officiis obcaecati aspernatur tenetur iste aliquam dolorem harum, accusamus cum incidunt saepe vel voluptatem dolores magni eveniet? Tempora?</p>
    <p class="text-center text-muted">© 2022 업소랜드, Inc</p>
  </footer>
</div>