{% extends 'upsoland/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'upsoland/css/style.css' %}">
{% endblock %}

{% block content %}
<aside>
  <h1 class="ir_su">제품 목록</h1>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <a href="#">
          <img src="#" alt="냉장고">
        </a>
      </div>
      <div class="col-3">
        <a href="#">
          <img src="#" alt="냉동고">
        </a>
      </div>
      <div class="col-3">
        <a href="#">
          <img src="#" alt="냉동/냉장">
        </a>
      </div>
      <div class="col-3">
        <a href="#">
          <img src="#" alt="쇼케이스">
        </a>
      </div>
      <div class="col-3">
        <a href="#">
          <img src="#" alt="제빙기">
        </a>
      </div>
      <div class="col-3">
        <a href="#">
          <img src="#" alt="테이블냉장/냉동">
        </a>
      </div>
      <div class="col-3">
        <a href="#">
          <img src="#" alt="식기세척기">
        </a>
      </div>
      <div class="col-3">
        <a href="#">
          <img src="#" alt="비어/백바">
        </a>
      </div>
    </div>
  </div>
</aside>
{% endblock %}