{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'upsoland/css/navbar.css' %}">
{% endblock %}

<!-- header -->
<header id="header">
  <nav id="menu">
    <h1 class="ir_su">메뉴</h1>
    <div class="container">
      <div class="row">
        <div class="col-1">
          <a href="#">
            <img src="{% static 'upsoland/images/main.png' %}" alt="Logo" class="logo_img">
          </a>
        </div>
        <div class="col-1">
          <a href="upsoland/about_me.html">
            회사소개
          </a>
        </div>
        <div class="col-1">
          <a href="#">
            설치사례
          </a>
        </div>
        <div class="col-1">
          <a href="#">
            수리사례
          </a>
        </div>
        <div class="col-1">
          <a href="#">
            상담하기
          </a>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
      </div>
    </div>
  </nav>
</header>