{% extends 'upsoland/base.html' %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'post/css/style.css' %}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{post.title }}</h1>
    </div>
    {% if post.head_image %}
    <img src="{{ post.head_image.url }}" class="content_img" alt="{{ post }} head image">
    {% else %}
    <img src="https://picsum.photos/seed/{{ post.id }}/180/140" alt="random img">
    {% endif %}
    <div class="col-12">
      <p>{{ post.content }}</p>
    </div>
    <div class="col-12">
      <strong>{{ post.dt_create }}</strong>
    </div>
  </div>
</div>
{% endblock %}