 * {
   padding: 0;
   margin: 0;
 }
/* 레이아웃 */
 #wrap {
   width: 1200px;
   margin: 0 auto;
 }

 #header {
   width: 100%;
   height: 150px;
 }

 #article {
   width: 100%;
   height: 300px;
   background: #444;
 }

 #section {
   overflow: hidden;
   width: 90%;
   padding: 5%;
   background: #333;
 }

 #section>div {
   float: left;
   width: 18%;
   height: 170px;
   margin: 1%;
   background: #999;
   border-radius: 5px;
 }

 #footer {
   width: 100%;
   height: 150px;
   background: #555;
 }

 @media screen and (max-width:1220px) {
   #wrap {
     width: 100%;
   }

   #section>div {
     width: 23%;
   }
 }

 @media screen and (max-width:768px) {
   #section>div {
     width: 31.3333%;
   }
 }

 @media screen and (max-width:480px) {
   #section>div {
     width: 48%;
   }
 }